<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autum</title>
  <link rel ="stylesheet" href="/public/css/collection.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/buy.css">
</head>
<body>
   
   <div class="main-content" >
    <div class="sidebar sidebar1">
      <div class="sidebar-data hamburger">
        <img src="/public/icons/hamburger.png" alt="Hamburger" width="50px" height="50px" >
      </div>
      <div class="nav"> 
      
      </div>
      <div class="sidebar-data " >
        <div class="social-media-icons " >
          <div class="s">
            <div class="s-icon">
              <img src="/public/icons/Vector.png" alt="Instagram" width="20px" height="20px">
            </div>
            <div class="s-handels">@autum.official</div>
          </div>
          <div class="s">
          <div class="s-icon">
            <img src="/public/icons/Vector (2).png" alt="Facebook" width="20px" height="20px">
        </div>
        <div class="s-handels">@autumapp</div>
      </div>
      <div class="s">
        <div class="s-icon">
          <img src="/public/icons/Vector (1).png" alt="Twitter" width="20px" height="20px">
        </div>
        <div class="s-handels">	@autum_io</div>
        
        </div>
        <div class="s" style="width: 100;">
          <div class="s-icon">
            <img src="/public/icons/Vector (3).png" alt="Twitter" width="20px" height="20px">
          </div>
          <div class="s-handels" style="font-size: 14px; ">+91 22 3456 7890</div>
          
          </div>
      </div>
   
    </div>
   
  </div>
  <div class="container" style="padding-bottom: 0%;">
    <div class="header">
      <div class="autum-logo">
        <div class="logo">
          <img src="/public/icons/Vector-12.png" alt="Autum Logo" width="56px" height="56px">
        </div>
        <div class="logo-text">
          <p style="font-family: Island Moments; font-size: 34px;">Autum</p>

        </div>
        

      </div>
      <div  style="flex: 4; padding-top:0;padding-left: 0;padding-right: 20px; font-family: 'Silkscreen', sans-serif; font-size: 20px; text-align: end; " >Checkout</div>
    </div>
    <div class="content1">
     
      <div class="background-white">
        <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 27px; font-weight: 700; color: rgb(52, 54, 54); padding-left: 30px; padding-top: 20px; margin-bottom: 20px;">Your Cart (3)</div>

        <div class="cart-list-summary">
          <div class="cart-list">
                  <div class="cart-item"> 

                  </div>
                  <div class="cart-item"> 

                  </div>
                    <div class="cart-item"> 

                  </div>
          </div>
          <div class="summary">
            <div style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 24px; font-weight: 700; color: rgb(52, 54, 54); padding-left: 30px; padding-top: 20px; margin-bottom: 20px;">Order Summary</div>

            <div class="summary-back">

              <div class="summary-data">
                <div class="price-grid" style="margin-top:40px;" > <div>Price:-</div><div>$2400</div> </div>
                <div class="price-grid"> <div>Shipping:-</div><div>$21</div> </div>
                <div class="price-grid"> <div>Discount:-</div><div>$7</div> </div>
              </div>
              <div class="summary-data1">
              <div class="price-grid"> <div>Grand Total:-</div> <div>2414</div></div>
              </div>
              <div class="summary-pay-method">Payment Method</div>
              <div class="summary-cod"><div>Cash On Delivery (COD)</div>  <div>
                <input type="radio" name="payment" value="cod" checked>
              </div> </div>
              </div>
            <div class="place-order-btn">Place Order</div>
          </div>
        </div>
      </div>
    </div>
  </div>
   </div>
   <script src="/public/js/script.js"></script>
</body>
</html>